header {
<<<<<<< HEAD
	background-color:#FF0000;
	height:70px;
	width:100%;
=======
    width: 100%;
    background-color: #FF0000;
    height: 70px;
>>>>>>> 8c5dbeed60929e24fc56e598218afe8c5214768b
}
