body {
<<<<<<< HEAD
	margin:0px;
	padding:0px;

	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
=======
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
>>>>>>> 8c5dbeed60929e24fc56e598218afe8c5214768b
}

.container {
    max-width: 1000px;
<<<<<<< HEAD
    margin: 30px auto;
=======
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
>>>>>>> 8c5dbeed60929e24fc56e598218afe8c5214768b
}
